<template>

    <div class="hello">
        <h1>{{ msg }}</h1>
    </div>

</template>

<script>

    export default {

        data() {

            return {

                msg: 'Welcome To the Hireinfluencer Panel.'

            }

        },

        mounted() {
            console.log('Application mounted..')
        }

    }

</script>