<template>
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

                <ul class="page-sidebar-menu  page-header-fixed"
                    data-keep-expanded="false"
                    data-auto-scroll="true"
                    data-slide-speed="200"
                    style="padding-top: 20px">

                    <li class="sidebar-toggler-wrapper hide">
                        <div class="sidebar-toggler">
                            <span></span>
                        </div>
                    </li>

                    <li class="nav-item" v-for="nav in navs">

                        <router-link v-bind:to="nav.path"
                            @click="( nav.title === 'Logout' ? logout() : null)">

                            <i :class="nav.icon"></i>

                            <span class="title">{{ nav.title }}</span>

                        </router-link>

                    </li>


                </ul>
            </div>

    </div>
</template>

<script>

    export default {

        data() {

            return {

                navs: [

                    {
                        'icon'      : 'fa fa-home',
                        'path'      : '/index',
                        'title'     : 'Dashboard'
                    },

                    {
                        'icon'      : 'fa fa-user',
                        'path'      : '/profile',
                        'title'     : 'My Account'
                    },

                    {
                        'icon'      : 'fa fa-sign-out',
                        'path'      : '/logout',
                        'title'     : 'Logout'
                    }

                ]

            }

        },

        methods: {

            logout()
            {
                console.log('logging out .....')
            }

        }

    }

</script>