.html, body{
    background: #fff;
    width: 100%;
}
.searchbox_header{
    padding:150;
}
.nav-alink{
    color:aliceblue;
    display: block;
    padding: 0.5rem 1rem;
    
}
.nav-link{
    color:#7f8c8d;
    display: block;
    width: 100%;
}
.nav-link:hover{
    background: #5c5ca8;
    color: #fff;
    text-decoration: none;
    width: 100%;
}
.nav-alink:hover{
    color:#e8d0f8;
    text-decoration: none;
}
.a{
    color:black;
}
.ul{
    align-content:flex-end;
    width: 100%;
}
.login-container{

  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.card-container{

  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  margin-right: auto;
  margin-left: auto;
}

.login-card{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  padding-top: 7rem;
}
h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color:#7f8c8d;
}

h6{
    font-weight: 300;
}
h5{
    color: #7f8c8d;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color:#7f8c8d;

}
.form-control{
    border:1px solid #7f8c8d;
}
.pull-right {
    float: right !important; 
}
.btn-influencer {
  color: #ffffff;
  background-color: #5c5ca8;
  border-color: #5c5ca8;
    
}
.btn-invisible {
  color: #5c5ca8;
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}
.btn-edit {
  color: #7f8c8d;
  background-color: #ffffff;
  border-color: #7f8c8d;
    width:100%;
}
.btn-blue{
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
.btn-red{
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.btn-yellow{
    color: #fff;
    background-color: #f1c40f;
    border-color:#f1c40f;
}
.radio {
    opacity: 0;
    position: absolute;
}
.label1 {
    background: url(../images/influencer.png);
    text-indent: -999em;
    border: 10px solid #ececec;
    width: 100px;
    height: 100px;
    display: block;

}
.label2 {
    background: url(../images/brand.png);
    text-indent: -999em;
    border: 10px solid #ececec;
    width: 100px;
    height: 100px;
    display: block;

}
.label3 {
    background: url(../images/both.png);
    text-indent: -999em;
    border: 10px solid #ececec;
    width: 100px;
    height: 100px;
    display: block;

}
input[type="radio"]:checked + label {
    border: 10px solid #5c5ca8;
}

.avatar {
    background: transparent;
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.profile_avatar {
    background: transparent;
   border-radius: 50%;
       box-shadow: 0 0 19px 0 #fff;
  
 
    width: 40%;
    height: auto;
 
}
.bg_footer{
    background: #38385b;
    padding-bottom: 100px;
}
.bg_footer_copyright{
    background: #2b2b47;
    padding-top: 25px;
}
.white{
    color: #fff !important;
}
.color-influencer{
    color: #5c5ca8 !important;
}
.btn_footer{
  color: #ffffff;
  background-color: #5c5ca8;
  border-color: #5c5ca8;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.hr_footer{
    opacity: 0.2;
}
.hr_footer:hover{
    opacity:1 ;
}
.profile{
   background: linear-gradient(#f39c12 60%, #fff 50%);
   width: 100%;
}
.profile-middle{
   background: #fff;

}
.profile-option{

   width: 100%;
}
.detail_background{
    background: #f3f3f6;
}
.profile_image{
    border-radius: 50%;

   box-shadow: 0 0 19px 0 #fff;
}
.profile-tile{
    background: #fff;
    box-shadow:1px 1px 2px 0px grey;
    color: #000;
}
.profile-inside{
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
}

.bg-sort{
    background: #fff;
    box-shadow:1px 1px 2px 0px #5c5ca8;
    color: aliceblue;
}
.background-white{
    background: #fff;
}
.star{
    color:#f39c12;
}

.side-button:hover{
    background: linear-gradient(to left, #fff 98%, #5c5ca8 2%) !important;
    color: #7f8c8d;
  }
/*
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
     background: #b40404 !important;
    color: #7f8c8d;
}
*/
.background-box{
   background: #ecf0f1;
  
}
.table{
    color: #7f8c8d;
}
.nav-item>.nav-link.active{
    background: #5c5ca8;
    color:#fff;
}
.help-section{
 margin-top: 11%;
margin-left: -15px;
    padding-left: 10px;
background: #fff;
   padding-bottom: 5px;
  display: none;
    color:#5c5ca8;
}
.help-section-social{
 margin-top: 11%;
margin-left: -15px;
    padding-left: 10px;
background: #fff;
   padding-bottom: 5px;
  display: none;
    color:#5c5ca8;
}
.help-section-about{
 margin-top: 11%;
margin-left: -15px;
    padding-left: 10px;
background: #fff;
   padding-bottom: 5px;
  display: none;
    color:#5c5ca8;
}
.help-section-professional{
 margin-top: 11%;
margin-left: -15px;
    padding-left: 10px;
background: #fff;
   padding-bottom: 5px;
  display: none;
    color:#5c5ca8;
}
.help-section-default{
 margin-top: 11%;
margin-left: -15px;
    padding-left: 10px;
background: #fff;
   padding-bottom: 5px;
  
    color:#5c5ca8;
}
.help-section-location{
 margin-top: 150%;
margin-left: -15px;
    padding-left: 10px;
background: #fff;
   padding-bottom: 5px;
  display: none;
    color:#5c5ca8;
}
.help-section-contact{
 margin-top: 264%;
margin-left: -15px;
    padding-left: 10px;
background: #fff;
   padding-bottom: 5px;
  display: none;
    color:#5c5ca8;
}
.help-section-languages{
 margin-top: 200%;
margin-left: -15px;
    padding-left: 10px;
background: #fff;
   padding-bottom: 5px;
  display: none;
    color:#5c5ca8;
}
.help-section-web{
 margin-top: 129%;
margin-left: -15px;
    padding-left: 10px;
background: #fff;
   padding-bottom: 5px;
  display: none;
    color:#5c5ca8;
}
.help-section-work{
 margin-top: 11%;
margin-left: -15px;
    padding-left: 10px;
background: #fff;
   padding-bottom: 5px;
  display: none;
    color:#5c5ca8;
}
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 20px solid #fff;
}
.tip-left {
  top: 19px;
  left: -30px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.tip-left-web {
  top: 32%;
  left: -30px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.tip-left-work {
  top: 35%;
  left: -30px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.tip-left-social {
  top: 19px;
  left: -30px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.tip-left-about {
  top: 19px;
  left: -30px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.tip-left-professional {
  top: 19px;
  left: -30px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.tip-left-location {
  top: 33%;
  left: -30px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.tip-left-contact {
  top: 49%;
  left: -30px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.tip-left-languages {
  top: 79%;
  left: -30px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.tips{
    background: #fff;
    color: #000;
}
.tooltip-inner{
    background: #5c5ca8;
    color: #fff;
    float: right !important; 
}
.arrow{
 
 
    float: right !important; 
}

.AccountHelp{
    display: block;
}
.AccountHelpHide{
    display: hidden;
}
.verify{
    padding-top: 50px;
    padding-left: 10px;
}
.verify-plus{
        padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
}
:root{
    --main-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.verify-social{
    
    background: #fff;
    box-shadow: var(--main-shadow);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  
}
.account-list{
    background: #fff;
    box-shadow: var(--main-shadow);
  
}
.box-twitter{

    background: #00aced;
    
    color: #fff;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-right: 60%;
    padding-left: 40%;
     box-shadow: 0 0 5px 0 grey;
}
.box-facebook{

    background: #3b5998;
       
    color: #fff;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-right: 60%;
    padding-left: 40%;
     box-shadow: 0 0 5px 0 grey;
}
.box-youtube{

    background: #bb0000;
       
    color: #fff;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-right: 60%;
    padding-left: 40%;
     box-shadow: 0 0 5px 0 grey;
}
.box-instagram{

    background: #517fa4;
        
    color: #fff;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-right: 60%;
    padding-left: 40%;
     box-shadow: 0 0 5px 0 grey;
}
.box-snapchat{

    background: #FFC300  ;
        
    color: #fff;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-right: 60%;
    padding-left: 40%;
     box-shadow: 0 0 5px 0 grey;
}
.box-vine{

    background: #00bf8f ;
       
    color: #fff;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-right: 60%;
    padding-left: 40%;
     box-shadow: 0 0 5px 0 grey;
}
.box-custom{

    background: #fff ;
        
    color: grey;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-right: 60%;
    padding-left: 40%;
     box-shadow: 0 0 5px 0 grey;
}
.card-twitter{
   background: #00aced;
   color: #fff;
 padding-top: 30%;
 padding-bottom: 32%;
 padding-left: 40%;
 padding-right: 50%;
}
.card-facebook{
   background: #3b5998;
   color: #fff;
 padding-top: 30%;
 padding-bottom: 32%;
 padding-left: 40%;
 padding-right: 50%;
}
.card-youtube{
   background:  #bb0000;
   color: #fff;
 padding-top: 30%;
 padding-bottom: 32%;
 padding-left: 40%;
 padding-right: 50%;
}
.social-options{
    padding-top: 30%;
}
.custom-modal{
    background: #5c5ca8;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 0px;
}
.modal-body-custom{
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none;
}