<template>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar">

                <profile-sidebar></profile-sidebar>

            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">

                <profile-tab></profile-tab>

            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>

</template>

<script>

    import ProfileSidebar from './_partials/ProfileSidebar.vue'

    import ProfileTab from './_partials/ProfileTab.vue'

    export default {

        components: {

            'profile-sidebar': ProfileSidebar,
            'profile-tab': ProfileTab

        }

    }

    // require('../../../../../../../public/assets/backend/js/bootstrap-fileinput.js')

</script>

<style>
    @import '../../../../../../../public/panel/assets/pages/css/profile.min.css';
    @import '../../../../../../../public/assets/backend/css/bootstrap-fileinput.css';

</style>